#list{
    row-gap: 4rem;
    column-gap: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    font-size: 26px;
    text-wrap:nowrap;
    padding: 2rem 4rem;
}

#container{
    font-size: larger;
    margin: 20rem 12rem;
}

.itemContainer{
    display: flex;
    column-gap: 2rem;
}

.itemContainer > button{
    border-radius: 50%;
    color: rgba(225, 0, 0, 0.5);
    border: 0rem;
    font-size: 18px;
    height: 24px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}
.itemContainer > button:hover{
    color: rgb(255, 0, 0);
}